$headingSize1: 60px;
$headingSize2: 40px;
$headingSize3: 30px;
$headingSize4: 20px;
$headingSize5: 15px;
$headingSize6: 13px;

$fontPrimary: 'Gotham-Book';
$fontSecundary: 'Gotham-Bold';
$baseFontSize: 18px;
$largeFontSize: 22px;
$mediumFontSize: 20px;
$smallFontSize: 15px;
$tinyFontSize: 14px;
$specialFontSize: 13px;
$hugeFontSize: 80px;

$lineHeight1: 50px;
$lineHeight2: 40px;
$lineHeight3: 35px;
$lineHeight4: 22px;
$lineHeight5: 18px;
$lineHeight6: 16px;


$colorMain: #691f83;
$colorMain2: #4e186c;
$colorMain3: #823693;
$colorGrey: #5e5e5e;
$colorGrey2: #7f7f7f;
$colorGrey3: #e8e8e8;
$colorWhite: #FFFFFF;


$colorText: $colorGrey;
$colorLink: $colorMain;
$colorLinkHover: $colorMain2;
$colorBorder: $colorGrey3;

$colorGradientPurple: 110deg, rgb(130,54,147) 0%, rgb(78,24,108) 100%;
$colorGradientPurple2: 110deg, rgb(78,24,108) 0%, rgb(130,54,147) 100%;
$colorGradientWhite: 120deg, rgb(255,255,255) 0%, rgb(240,232,245) 100%;
$colorGradientWhite2: 115deg, rgb(240,232,245) 0%, rgb(255,255,255) 100%;

$baseShadow: 0px 6px 10px 0px rgba(64, 64, 64, 0.15);

$baseUnit: 20px;



@import 'bower_components/basicss/basicss';



@import "main";
@import "fonts";
@import "pagination";
@import "question";
@import "btn";
@import "result";
