.headline-default{
  &__item{
    &--h1{
      @extend .heading-1;
    }
    &--h2{
      @extend .heading-2;
    }
    &--h3{
      @extend .heading-3;
    }
    &--h4{
      @extend .heading-4;
    }
    &--h5{
      @extend .heading-5;
    }
    &--h6{
      @extend .heading-6;
    }
    &--p{
      @extend .text;
    }
  }
}
.headline{
  &--01,
  &--02,
  &--03{
    position: relative;
    padding-left: 70px;
    margin-bottom: $baseUnit*2;
    margin-top: $baseUnit*2;
    @include media($breakDesktop){
      margin-bottom: $baseUnit*3;
      margin-top: $baseUnit*2;
    }
    &:before{
      display: block;
      width: 46px;
      height: 46px;
      background-color: $colorMain;
      @extend .heading-3;
      color: $colorWhite;
      position: absolute;
      top: -10px;
      left: 0;
      border-radius: 50%;
      text-align: center;
      line-height: 46px;
      padding-left: 3px;
      @include media($breakDesktop){
        width: 56px;
        height: 56px;
        line-height: 56px;
        top: -15px;
      }
    }
  }
  &--01{
    &:before{
      content: 'I.';
    }
  }
  &--02{
    &:before{
      content: 'II.';
    }
  }
  &--03{
    &:before{
      content: 'III.';
    }
  }
}
