.review-box{
  margin-bottom: 133px;
  max-width: 780px;
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $baseShadow;
    height: 178px;
    margin: 15px;
  }
  .stars-alt{
    margin: 0 auto;
    width: 150px;
    &:after{
      background-size: 150px;
    }
  }
  .owl-prev{
    display: none;
  }
  .owl-nav{
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 20px;
  }
  .owl-next{
    width: 30px;
    height: 20px;
    position: relative;
    text-indent: -9999px;
    @include media($breakDesktop){

    }
    &:focus{
      outline: none;
    }
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__amount{
    margin-top: 16px;
    margin-bottom: 0;
  }
}
